html {
    scrollbar-width: thin;
    scrollbar-color: #cacaca transparent;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #cacaca;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}
