@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-pretendard: ui-sans-serif, system-ui, -apple-system;
    --color-main: #CFAE89;

    --w-section-full: 950px;
}

body {
    font-family: var(--font-pretendard), sans-serif;
    background: black;
    color: white;
}

html, body { overflow-x: hidden }


/* custom */
@layer utilities {
    .bg-main-header {
        background-image:
                linear-gradient(180deg, rgba(255,255,255,0.30) 0%, rgba(255,255,255,0.21) 100%),
                linear-gradient(180deg, rgba(255,255,255,0.18) 0%, rgba(0,0,0,0.2) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .full-bleed {
        width: 100svw;
        position: relative;
        left: 50%;
        margin-left: -50vw;
    }

    @keyframes marquee {
        0%  { transform: translateX(0%); }
        100%  { transform: translateX(-50%); }
    }

    .animate-marquee {
        animation: marquee 40s linear infinite;
    }

    @keyframes border-spin {
        0% {
            clip-path: inset(0 100% 100% 0); /* 왼쪽 위 → 시작 */
        }
        25% {
            clip-path: inset(0 0 100% 0);     /* 위쪽 라인 */
        }
        50% {
            clip-path: inset(0 0 0 0 round 0);/* 전체 다 보임 */
        }
        100% {
            clip-path: inset(0 0 0 0 round 0);/* 유지 */
        }
    }

    .animate-border-spin {
        animation: border-spin 0.6s ease forwards;
        opacity: 1 !important;
    }


    @keyframes slide-down {
        from {
            opacity: 0;
            transform: translateY(-30px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .animate-slide-down {
        animation: slide-down 0.6s ease-out forwards;
    }
}

@layer components {
    .input-text {
        @apply absolute left-0 bottom-0 h-px w-0 bg-[var(--color-main)]
        transition-all duration-300
        focus:border-transparent
        peer-focus:w-full;
    }
}

@layer utilities {
    @keyframes shine {
        0% { background-position: 200% 0; }
        100% { background-position: -200% 0; }
    }

    .shine-text {
        @apply font-bold bg-gradient-to-r from-[#cfae89] via-[#e2c9a8] to-[#cfae89] bg-clip-text text-transparent;
        background-size: 200% auto;
        animation: shine 6s linear infinite;
    }
}